*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ekran{
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yumaloq{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background: #5077FF;
}
.tort{
    width: 185px;
    height: 320px;
    background: #F9E491;
    margin-top: 50%;
    overflow: hidden;
}
.ichi{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background: #9AD5FF;
    margin-top: -100%;
}